@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

/* {
    box-sizing: border-box;
}*/

.navBar {
    display: flex;
    background-color: white;
    height: 60px;
    margin-top: 50px;
    margin-left: -15px;
    margin-right: -15px;
}

.logoIMG {
    margin-top: -80px;
}



#topNav>li {
    color: black;
}

h5 {
    font-family: 'Anton', sans-serif;
}


h4{
    font-size: 32px;
}

h5 {
    font-family: 'Anton', sans-serif;
    font-size: 28px;
}

/*section {
    display: inline-block;
    padding: 1em;
    color: black;
    font-family: 'Anton', sans-serif;
    text-decoration: none;
}*/


#circle1, #circle2, #circle3, #circle4 {
    height: 105px;
    width: 105px;
    font-family: 'Anton', sans-serif;
    font-weight: bold;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid white;
    border-radius: 1%;

}
#circle1, #circle5 {
    background-color: #E6563B;
}
#circle2, #circle6 {
    background-color: #EB9D3A;
}
#circle3, #circle7 {
    background-color: #7CB06C;
}
#circle4, #circle8 {
    background-color: #00ABA9;
}
.circleA {
    display: flex;
    margin: 10px;
    justify-content: center;
}

#circle5, #circle6, #circle7, #circle8 {
    height: 18px;
    width: 18px;
    font-family: 'Anton', sans-serif;
    font-weight: bold;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;

}

.smallCircles {
    font-size: xx-small;
    /*display: flex;
    align-self: flex-end;*/
}

li {
    padding-left: 10px;
}
.card-body {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


@media screen and (max-width: 540px) {
    .theLast, .selectedWorkImages, .topLinks-md {
        display: none;
    }
    div.topLinks {
        display: flex;
        justify-content: center;
    }
}

@media screen and (min-width: 540px) {
    .theLast, section#topNav, .logoIMG {
        display: none;
    }
    p.card-title {
        font-size: 10px;
    }

    div.topLinks-md {
        list-style: none;
        margin-top: -80px;
        display: flex;
        justify-content: space-around;
    }

    ul.nbwimg {
        display: flex;
        align-items: center;

    }
}

@media screen and (min-width: 720px) {
    .theLast {
        display: none;
    }

    p.card-title {
        font-size: 14px;
    }


}

@media screen and (min-width: 960px) {
    .theLast {
        display: contents;
    }
    /*section.gridCard {
        margin-left: -95px;
    }*/
    p.selectWork {
        display: flex;
        justify-content: left;
    }
    p.card-title {
        font-size: 14px;
    }
    h1.theLast1 {
        font-size: 24px;
        margin-left: -20px;
    }
    .finalSection {
        display: flex;
    }
}

@media screen and (min-width: 1140px) {
    p.card-title {
        font-size: 18px;
    }
}
